<div id="entry-list">

<div class="row" style="margin-bottom:10px;">
		<input type="text" class="search form-control" placeholder="Search" />
</div>

<div class="row">
<table class="table table-striped">
	<thead>
		<tr>
			<th><span class="sort" data-sort="location">Location</span></th>
			<th><span class="sort" data-sort="legal">legal</span></th>
			<th><span class="sort" data-sort="buy">buy</span></th>
			<th><span class="sort" data-sort="grow">grow</span></th>
			<th><span class="sort" data-sort="hemp">hemp</span></th>
			<th><span class="sort" data-sort="medical">medical</span></th>
			<th><span class="sort" data-sort="rating">rating</span></th>
		</tr>
	</thead>
	<tbody class="list">
	{% for location in site.locations %}
		<tr>
			<td class="location"><span class="location__name">{{ location.location }}</span><span class="location__abbr">{{ location.abbr }}</span></td>
			<td class="legal">{{ location.legal }}</td>
			<td class="buy">{{ location.buy }}</td>
			<td class="grow">{{ location.grow }}</td>
			<td class="hemp">{{ location.hemp }}</td>
			<td class="medical">{{ location.medical }}</td>
			<td class="rating">{% include ratings-calc.html %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div>


<script type="text/javascript">

var options = {
  valueNames: ['location', 'legal', 'buy', 'grow', 'hemp', 'medical']
};

var entryList = new List('entry-list', options);

</script>